*{
  margin:0;
  padding:0;
}

body{
  margin:0;
  font-family: "Century Gothic", Helvetica, sans-serif;
  font-size:18px;
  color:#926239;
  line-height:1.6;
}

#showcase{
  background-image:url('../img/bdo.jpg');
  background-size:cover;
  background-position:center;
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  padding:0 20px;
}



#showcase h1{
  font-size:70px;
  line-height:1.2;
  color:#fff;
}

#showcase p{
  font-size:20px;
  color: #fff;
}

#showcase .button{
  font-size:18px;
  text-decoration:none;
  color:#ffffff;
  border:#ffffff 1px solid;
  padding:10px 20px;
  border-radius:10px;
  margin-top:20px;
}

#showcase .button:hover{
  background:#4e4e4e;
  color:#fff;
}
